<div class="container">
  <div class="row">
    <h5 class="bg-light">　会員情報編集　</h5>
  </div>
  <div class="row">
    <%= form_with model: @customer, url:customer_path, local: true do |f| %>
    <table class="table table-borderless">
      <tbody>
        <tr>
          <th>名前 (性)</th>
          <th><%= f.text_field :last_name, autofocus: true %></th>
          <th>(名)</th>
          <th><%= f.text_field :first_name, autofocus: true %></th>
        </tr>
        <tr>
          <th>フリガナ (セイ)</th>
          <th><%= f.text_field :last_name_kana, autofocus: true %></th>
          <th>(メイ)</th>
          <th><%= f.text_field :first_name_kana, autofocus: true %></th>
        </tr>
        <tr>
          <th>郵便番号(ハイフンなし)</th>
          <th><%= f.text_field :postal_code, autofocus: true %></th>
        </tr>
        <tr>
          <th>住所</th>
          <th><%= f.text_field :address, autofocus: true %></th>
        </tr>
        <tr>
          <th>電話番号(ハイフンなし)</th>
          <th><%= f.text_field :telephone_number, autofocus: true %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
        </tr>
        <tr>
          <th></th>
          <th><%= f.submit '変更保存', class:"btn btn-success" %></th>
          <th><%= link_to '退会する', check_customers_path, class:"btn btn-danger" %></th>
        </tr>
      </tbody>
    </table>
  <% end %>
  </div>
</div>