<h2>商品一覧</h2>
<p>商品ID</p>
<p>商品名</p>
<p>税抜価格</p>
<p>ジャンル</p>
<p>ステータス</p>
<% @items.each do |item| %>
 <div>
  <%=item.id %>
  <%= link_to admin_item_path(item.id) do %>
   <%=item.name %>
  <% end %>
  <%=item.price %>
  <%=item.genre.name %>
  <% if item.is_active == true %>
   販売中
  <% elsif item.is_active == false %>
   販売停止中
  <% end %>
 </div>
<% end %>

<%= paginate @items %>