<div class="container">
 <div class="row">
  <div class="col-md-auto">
   <h5 class="bg-light">　注文情報確認　</h5>
  </div>
 </div>
 <div class="row">
  <div class="col">
   <table class="table table-bordered">
    <thead>
     <tr>
      <td>商品名</td>
      <td>単価(税込)</td>
      <td>数量</td>
      <td>小計</td>
     </tr>
    </thead>
    <tbody>
     <% @cart_items.each do |cart_item| %>
      <% if cart_item.customer_id == current_customer.id %>
      <tr>
       <td><%= attachment_image_tag( cart_item.item, :image, size: "55x43" ) %><%= cart_item.item.name %></td>
       <td><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
       <td><%= cart_item.amount %></td>
       <td><%= cart_item.subtotal.to_s(:delimited) %><% @total_price += cart_item.subtotal %></td>
      </tr>
      <% end %>
     <% end %>
    </tbody>
   </table>
  </div>
  <div class="col-md-3">
   <table class="table table-bordered">
    <tbody>
     <tr>
      <td>送料</td>
      <td><%= @order.postage.to_s(:delimited) %></td>
     </tr>
     <tr>
      <td>商品合計</td>
      <td><%= @total_price.to_s(:delimited) %></td>
     </tr>
     <tr>
      <td>請求金額</td>
      <td><%= (@total_price + @order.postage).to_s(:delimited) %></td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
 <div class="row">
  <div class="col-md-8">
   <table class="table table-borderless">
    <tbody>
     <tr>
      <th>支払い方法</th>
      <td><%= @order.payment_method_i18n %></td>
     </tr>
     <tr>
      <th>お届け先</th>
      <td>〒<%= @order.postal_code %>&emsp;<%= @order.address %><br><%= @order.name %></td>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
 <div class="row">
  <div class="col">
   <%= form_with(model: @order, url:orders_path, method: :post, local: true) do |f| %>
    <%= f.hidden_field :postal_code %>
    <%= f.hidden_field :address %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :payment_method %>
    <%= f.hidden_field :total_amount, :value => @total_price + @order.postage %>
    <%= f.submit "注文を確定する", class:"btn btn-success" %>
   <% end %>
  </div>
 </div>
</div>
